      <main id="main">  
      <!-- ======= Nosotros Section ======= -->
      <section id="about" class="about">
          <div class="container contIni">
    
            <div class="row content">
              <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100" style="text-align: center;">
                <img src="assets/img/logo/js_logo1.png" class="img-fluid" style="height: 12vw;" alt="">
                <div class="social-links text-center text-md-right pt-3 pt-md-0">
                  Landscaping and gardening contractors            
                </div>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left" data-aos-delay="200" style="text-align: justify;">
                <p>
                  At JS Landscaping LLC we are a full-service commercial and residential landscaping business, providing design, masonry, hardscape, irrigation systems, construction and maintenance. 
                  We Assure superior customer service through attention to detail, timely delivery of services and open communication and feedback with our customers. 
                  This will assure that we provide the service that exceeds our client's expectations. From landscaping design, landscape construction, plant selection, scheduling, to employee coordination.
                  For over 10 years, JS landscaping has built a reputation in the Denver Metro area for its professionalism and providing its customers with affordable results.
                </p>
                <div class="text-center">
                  <a href="tel:9703041183" class="btn btn-success">
                    Call Us Today For A Free Estimate 303-269-9343
                  </a>
                </div>
              </div>
            </div>
          </div>
      </section>
    

      <!-- ======= Clases Section ======= -->
      <section id="services" class="services section-bg">
        <div class="container contIni">

          <div class="row">
            <div class="col-lg-4">
              <div class="section-title" data-aos="fade-right">
                <h2>Explore our wide range of <strong>services</strong></h2>
                <p>Adapt your spaces to your preferences and lifestyle. Let us bring life to your garden.</p>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col-md-6 d-flex align-items-stretch">
                  <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <a (click)="showServices(true)" href="#landscape" style="color: #36343a;">
                      <div class="icon"><i class="bx bx-landscape"></i></div>
                      <h4><a (click)="showServices(true)" href="#landscape">Landscape</a></h4>
                      <p>Design, install, and maintain outdoor areas. Lawn Care and Sprinkler System Installation</p>
                    </a>
                  </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                  <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <a (click)="showServices(true)" href="#Walkways" style="color: #36343a;">
                      <div class="icon"><i class='bx bx-walk'></i></div>
                      <h4><a (click)="showServices(true)" href="#Walkways">Walkways</a></h4>
                      <p>Flagstone, stamped concrete and pavers, Stone Retaining Walls, Design and Construction</p>
                    </a>
                  </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4">
                  <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <a (click)="showServices(true)" href="#fireplaces" style="color: #36343a;">
                      <div class="icon"><i class="bx bxs-flame"></i></div>
                      <h4><a (click)="showServices(true)" href="#fireplaces">Fireplaces</a></h4>
                      <p>Wood-burning fire pits and Fireplaces for backyards, Design and Construction</p>
                    </a>
                  </div>
                </div>

                <div class="col-md-6 d-flex align-items-stretch mt-4">
                  <div class="icon-box" data-aos="zoom-in" data-aos-delay="400">
                    <a (click)="showServices(true)" href="#others" style="color: #36343a;">
                      <div class="icon"><i class="bx bx-cloud-snow"></i></div>
                      <h4><a (click)="showServices(true)" href="#others">Others</a></h4>
                      <p>Window Wells, French Drains and Snow Removal Services</p>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </section>

      <!-- ======= Team Section ======= -->
      <section id="team" class="team">
        <div class="container contIni">

            <div class="row">
                <div class="col-lg-12">
                <div class="section-title" data-aos="fade-right">
                    <h2 class="title-big">Landscape enhance <strong>advantages</strong></h2>
                    <p class="title-big">Designs ideas to complement your new or existing home or garden</p>
                </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-4">
                    <div class="member" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/services/landscape.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <span class="subtitle-member">Improve your <strong>well-being</strong> and health</span>
                        <p>Develop much healthier habits with outdoor spaces that promote relaxation and help reduce stress for family or visitors. </p>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="member" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/services/firepit.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <span class="subtitle-member">Create <strong>harmonious</strong> spaces</span>
                        <p>Create visually appealing environments through design and the selection of plants, fountains, wood-burning fire pits, and other decorative elements.</p>
                        </div>
                    </div>
                    </div>

                    <div class="col-lg-4">
                    <div class="member" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/services/splinker2.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                        <span class="subtitle-member"><strong>Increase</strong> the value of your property</span>
                        <p>Increase the value of your real estate with highly attractive landscaping for future buyers or to increase your equity.</p>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
      </section>


      <!-- ======= Ubicacion Section ======= -->
      <section id="contact" class="contact">
        <div class="container contIni">
          <div class="row">
            <div class="col-lg-4" data-aos="fade-right">
              <div class="section-title">
                <h2>Contact us:</h2>
                <p> Get a free estimate</p>
              </div>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="100">
              <div class="info mt-4">
                <i class="bi bi-geo-alt"></i>
                <h4>Denver, Co US</h4>
              </div>
              <div class="row">
                <div class="col-lg-6 mt-4">
                  <div class="info">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p><a href="#contact" (click)="copyContent()">sales@jslandscapingllc.com</a></p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="info w-100 mt-4">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p><a href="tel:9703041183">303-269-9343</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

      </main>